*{
    background-color: black;
    color:white;
}
.scores {
    text-align: left;
}

.main {
    text-align: center;
    margin-left: 0;
    margin-top:auto;
    margin-right: auto;
}

#daycount {
    grid-area:days;
}

#guardcount {
    grid-area:guards;
}

#currency {
    grid-area:money;
}

.interactive {
    visibility: hidden;
}

#maintext {
    grid-area:main;
}

#restartButton {
    visibility: hidden;
    grid-area:restart;
    width:min-content;
    height:min-content;
    font-size:0.8em;
}

#dread {
    grid-area:dread;
}

.diffItems {
    width:15%;
    margin-left: 49%;
    margin-right: 51%;
}

#container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "days main"
    "guards main"
    "money main"
    "dread restart";
    grid-gap:0;
}
